/* invoice ---------------------------------------------------*/
div.sheet{
    width: 800px;
    min-height:1024px;
}

#top{
    width: 100%;
    margin-top: 20px;
    margin-bottom: 0px;
}

#company-info {
    font-size: 14px;
}

#company-info #logo-image {
    width: 300px;
    height: 50px;
    margin-bottom: 10px;
}
#company-info{
  float:left;
}

#company-info li{
  list-style:none;
  padding-left:10px;
}

#general-info {
    float:right;
    margin-right: 20px;
}

#general-info h3 {
    text-align:right;
    padding-right:10px;
    margin: 0;
}
#general-info table {
    text-align:center;
    font-size:12px;
}

#general-info table td {
    padding: 3px 5px;
}

#billinfo{
  clear:both;
}
#billinfo table {
    margin:20px;
    margin-top:0px;
    float:left;
    width: 100%;
}

#billinfo ul{
    padding-left: 0;
    margin-left: 0;
}

#billinfo li{
  list-style:none;
}

#metainfo{
    margin:20px;
    margin-top:5px;
    margin-bottom:10px;
    width:95%;
    font-size: 14px;
}

#metainfo td{
    text-align:center;
    padding: 3px 5px;
}

#item-wrapper {
    min-height: 500px;
}

#detail{
    margin:20px;
    margin-top: 0;
    width:95%;
    /* height:100%; */
    max-height:700px;
    /* min-height:500px; */
}


#detail th {
    font-size:13px;
    padding: 3px 5px;
    border: 1px solid gray;
}

#detail td{
    text-align:center;
    font-size: 14px;
    padding: 5px;
    border: 1px solid gray;
    border-bottom: hidden;
}

#detail td.left {
    text-align:left;
    padding-left:5px;
}

/*
#detail tr:nth-last-child(2) td
{
  border-bottom: 1px solid gray;
}
*/

#detail tr:last-child td {
    border-bottom:  1px solid gray;
}

/*
#detail td.footer{
  border-bottom: 1px solid gray;
}
*/

#detail .label{
  border:1px solid black;
  height:32px;
}

#detail tr.footer td {
    border:border:1px solid black;
}
