/* common ---------------------------------------------------*/
.form-signin {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
  margin-bottom: 10px;
}
.form-signin .checkbox {
  font-weight: normal;
}
.form-signin .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.hidden {
    display : none;
}

#loader {
  position: absolute;
  top: 0;
  bottom: 0%;
  left: 0;
  right: 0%;
    /* background-color: white; */
  z-index: 99;
  text-align: center;
  width: 100%;
  padding-top: 200px;
  font-size: 96px;
  font-weight: bold;
  color: red;
  
}
/* order ---------------------------------------------------*/
.ui-autocomplete { height: 200px; overflow-y: scroll; overflow-x: hidden;}

#base {
    margin: auto;
    text-align: center;
    width: 750px;
}

#storeinfo-table {
    }

#storeinfo-table tr {

}

#storeinfo-table tr td,
#shipinfo-table tr td {
    border-bottom: 1px dotted #E2E2E2;
    padding-top: 5px;
    padding-bottom: 5px;
    text-align: left;
}
 
#product-atc {
    border-color: #cccccc;
    width: 380px;
}

#product-atc-container {
    margin:auto;
    margin-top: 20px;
    margin-bottom: 20px;
    text-align:center;
    width: 750px;
}

#product-control-container {
    float: left;
    margin-bottom: 10px;
}

#total-order-container {
    float: right;
}


#product-detail-panel, #product-list-panel {
    margin:auto;
    text-align:center;
    display: table;
    margin-top: 20px;
    margin-bottom: 20px;
    border: 1px solid #E2E2E2;
    /* padding-right: 10px; */
}

#product-sales-list {
    margin:auto;
    text-align:center;
    display: table;
    margin-top: 20px;
    margin-bottom: 20px;
    /* border: 1px solid #E2E2E2; */
    padding-right: 3px;
    width: 748px;
}

/*
#product-sales-list input {
    padding-left:0;
    padding-right:0;
}
*/

#product-list-panel {
    padding:5px;
    width: 748px;
}


input[type="number"] {
    text-align: right;
}

#fileupload {
    width: 900px;
    margin:auto;
}

#order-tee, #tee-table  {
    margin: auto;
    text-align: center;
    width: 750px;
}

#order-tee .custom-btn {
    width:100%;
    margin-top: 5px;
}

#order-stocking, #stocking-table  {
    margin: auto;
    text-align: center;
    width: 750px;
    margin-top: 5px;
}

#order-stocking .custom-btn {
    width:100%;
}

#order-hats, #hats-table  {
    margin: auto;
    text-align: center;
    width: 750px;
    margin-top: 5px;
}

#order-hats .custom-btn {
    width:100%;
}

#order-adores, #adores-table  {
    margin: auto;
    text-align: center;
    width: 750px;
    margin-top: 5px;
}

#order-adores .custom-btn {
    width:100%;
}

#order-belts, #belts-table  {
    margin: auto;
    text-align: center;
    width: 750px;
    margin-top: 5px;
}

#order-belts .custom-btn {
    width:100%;
}

/* insert barcode ---------------------------------------------------*/
 
#barcode-atc {
    border-color: #006DCC;
}

#barcode-atc-container {
    margin:auto;
    padding : 20px;
    margin-bottom: 20px;
    text-align:center;
}

#barcode-control-container {
    display: inline-block;
    float: left;
}

#barcode-detail-panel{
    margin:auto;
    text-align:center;
    display: table;
    margin-top: 20px;
    margin-bottom: 20px;
    padding-right: 10px;
}

#barcode-detail-panel table {
    border: 0;
}

#barcode-detail-panel table td {
    padding:5px;
}

.right {
    text-align: right;
}

#order-container .td-desc {
    min-width: 270px;
}

    #tooltip {
        display:none;
        position:absolute;
        opacity:0.0;
        background:#E2E2E2;
        border-radius:1px;
        padding:20px;
        text-align:center;
    }