<?php echo $header; ?>

<div class="container">
    <div>
        <img src="/img/error4.jpg" alt="img" style="width:250px; margin-top:50px;">
    </div>
    <div>
        <h1 style='color:peru;'><?php echo $msg; ?></h1>
        <?php
        if ( !empty($redirect) ) {
            echo "<a href='$redirect'><h3>Back</h3></a>";
        }
        ?>
    </div>
</div>

<?php echo $footer; ?>