<?php echo $header; ?>
<?php if ($error_warning){ ?><div class="warning"><?php echo $error_warning; ?></div><?php } ?>
<?php if ($success){ ?><div class="success"><?php echo $success; ?></div><?php } ?>

<script type="text/javascript">
$(document).ready(function(){

});
</script>

<?php echo $footer; ?>
