<?php echo $header; ?>
<div class="box">
            <div class="heading">
    <h1 style="background-image: url('view/image/error.png');"><?php echo $heading_title; ?></h1>
    </div>
    <div class="content">
    <div style="border: 1px solid #DDDDDD; background: #F7F7F7; text-align: center; padding: 15px;"><?php echo $text_not_found; ?></div>
    </div>
</div>
<?php echo $footer; ?>
