<?php echo $header; ?>
<?php if (isset($error_warning)) { ?>
<div class="warning"><?php echo $error_warning; ?></div>
<?php } ?>
<div class="box">
            <div class="heading">
    <h1 style="background-image: url('view/image/shipping.png');"><?php echo $heading_title; ?></h1>
    <div class="buttons"><a onclick="$('#form').submit();" class="button"><span><?php echo $button_save; ?></span></a><a onclick="location='<?php echo $cancel; ?>';" class="button"><span><?php echo $button_cancel; ?></span></a></div>
    </div>
<div class="content">
<form action="<?php echo $action; ?>" method="post" enctype="multipart/form-data" id="form">
    <div id="tab_general" class="page">
    <table class="form">
        <tr>
        <td><?php echo $entry_order_status; ?></td>
        <td><select name="free_checkout_order_status_id">
            <?php foreach ($order_statuses as $order_status) { ?>
            <?php if ($order_status['order_status_id'] == $free_checkout_order_status_id) { ?>
            <option value="<?php echo $order_status['order_status_id']; ?>" selected="selected"><?php echo $order_status['name']; ?></option>
            <?php } else { ?>
            <option value="<?php echo $order_status['order_status_id']; ?>"><?php echo $order_status['name']; ?></option>
            <?php } ?>
            <?php } ?>
            </select></td>
        </tr>
        <tr>
        <td><?php echo $entry_status; ?></td>
        <td><select name="free_checkout_status">
            <?php if ($free_checkout_status) { ?>
            <option value="1" selected="selected"><?php echo $text_enabled; ?></option>
            <option value="0"><?php echo $text_disabled; ?></option>
            <?php } else { ?>
            <option value="1"><?php echo $text_enabled; ?></option>
            <option value="0" selected="selected"><?php echo $text_disabled; ?></option>
            <?php } ?>
            </select></td>
        </tr>
        <tr>
        <td><?php echo $entry_sort_order; ?></td>
        <td><input type="text" name="free_checkout_sort_order" value="<?php echo $free_checkout_sort_order; ?>" size="1" /></td>
        </tr>
    </table>
    </div>
</form>
</div>
<?php echo $footer; ?>
