.content{
  height:800px; width: 920px;
}
#detail{
    position : absolute;
    top: 100px;
    left: 200px;
    visibility:hidden;
    border: 1px dotted green;
    z-index:2;
}
#storeList{
  width:200px;  height:800px; float:left;
}
#storeList table tr td{
  padding:5px;  font-size:14px; font-weight:bold;
}
#storeMain{
  width:100%;  height:800px; float:left;
}
#storePay{
  margin-top:10px;
  margin-bottom:12px;
}
#storeHistory{
  width:100%; height:600px; clear:left; margin-top:10px;
}
#account_history{
  width:700px;
  }
#account-atc{
  margin-left:10px;
}
#account-atc-wrap {
    padding: 20px;
    color:gray;
    font-size:18px;
}
#finance-detail-panel, #finance-list-panel {
  display:none;
  background-color:#E7EFEF;
	
	border-top:1px solid #cccccc;
	border-bottom:1px solid #cccccc;
}

#account_info_header {
  height:40px; font-size: 16px; color:gray; background-color:#E7EFEF; margin-bottom:10px;
}

#account_info_title{
  padding-top:10px; padding-left:30px; text-align:left; 
  background-image: url('../../image/filemanager/folder.png'); background-position: 7px 11px; background-repeat: no-repeat;
}

#account_bal_title{
  padding-top:10px; padding-left:30px; text-align:left; 
  background-image: url('../../image/filemanager/edit-rename.png'); background-position: 7px 11px; background-repeat: no-repeat;
}