<script>
$(function() {
    
    var html;

    html = 'At First, you should choose "Account".<br/>It work as Auto complete as like google search.<br/> Type the account name or accout number that you remember.';
    $.fn.tooltip( '#account-atc' , html);

    html = 'Type the whole amount that you received with detail infomation';
    $.fn.tooltip( '#paid_amount' , html);

});
</script>