<?php
if ( $mode == 'update' && !empty($category) ) {
        //$this->load->model('catalog/category');
        //$aCategory = $this->model_catalog_category->prepareSelectBoxSet($category);
        
        echo '<select class="category" name="category">';
        echo '  <option value="0">-----</option>';
        foreach ( $categories as $cat ) {
            $selected = ( $category == $cat['category_id'] ) ? 'selected' : '';
            echo '<option value="' . $cat['category_id'] . '" ' . $selected . '>' . $cat['name'] . '</option>';
        }
        echo '</select>';
        

} else {

    echo '<select class="category" id="cat1" name="category">';
    echo '  <option value="0">-----</option>';
        foreach ( $categories as $cat ) {
          echo '<option value="' . $cat['category_id'] . '">' . $cat['name'] . '</option>';
          
    }
    echo '</select>';
    echo '
    &nbsp;
    <select id="cat2" class="hidden"><option value="0">-----</option></select>
    &nbsp;
    <select id="cat3" class="hidden"><option value="0">-----</option></select>
    ';
}
?>

<style>
select.category {
    width:80%;
    margin-bottom: 10px;
}
</style>
