<?php echo $header; ?>
<?php if ($error_warning) { ?>
<div class="warning"><?php echo $error_warning; ?></div>
<?php } ?>
<div class="box">
            <div class="heading">
    <h1 style="background-image: url('view/image/total.png');"><?php echo $heading_title; ?></h1>
    <div class="buttons"><a onclick="$('#form').submit();" class="button"><span><?php echo $button_save; ?></span></a><a onclick="location = '<?php echo $cancel; ?>';" class="button"><span><?php echo $button_cancel; ?></span></a></div>
    </div>
    <div class="content">
    <form action="<?php echo $action; ?>" method="post" enctype="multipart/form-data" id="form">
        <table class="form">
        <tr>
            <td><?php echo $entry_total; ?></td>
            <td><input type="text" name="low_order_fee_total" value="<?php echo $low_order_fee_total; ?>" /></td>
        </tr>
        <tr>
            <td><?php echo $entry_fee; ?></td>
            <td><input type="text" name="low_order_fee_fee" value="<?php echo $low_order_fee_fee; ?>" /></td>
        </tr>
        <tr>
            <td><?php echo $entry_tax; ?></td>
            <td><select name="low_order_fee_tax_class_id">
                <option value="0"><?php echo $text_none; ?></option>
                <?php foreach ($tax_classes as $tax_class) { ?>
                <?php if ($tax_class['tax_class_id'] == $low_order_fee_tax_class_id) { ?>
                <option value="<?php echo $tax_class['tax_class_id']; ?>" selected="selected"><?php echo $tax_class['title']; ?></option>
                <?php } else { ?>
                <option value="<?php echo $tax_class['tax_class_id']; ?>"><?php echo $tax_class['title']; ?></option>
                <?php } ?>
                <?php } ?>
            </select></td>
        </tr>
        <tr>
            <td><?php echo $entry_status; ?></td>
            <td><select name="low_order_fee_status">
                <?php if ($low_order_fee_status) { ?>
                <option value="1" selected="selected"><?php echo $text_enabled; ?></option>
                <option value="0"><?php echo $text_disabled; ?></option>
                <?php } else { ?>
                <option value="1"><?php echo $text_enabled; ?></option>
                <option value="0" selected="selected"><?php echo $text_disabled; ?></option>
                <?php } ?>
            </select></td>
        </tr>
        <tr>
            <td><?php echo $entry_sort_order; ?></td>
            <td><input type="text" name="low_order_fee_sort_order" value="<?php echo $low_order_fee_sort_order; ?>" size="1" /></td>
        </tr>
        </table>
    </form>
    </div>
</div>
<?php echo $footer; ?>
