/**
 * Auto Complete 5.1 - CSS Temp
 * April 13, 2010
 * Corey Hart @ http://www.codenothing.com
 */ 
body {
    font-size: 10pt;
    margin: 0;
    padding: 2px;
}

body {
    font-family: Verdana;
    font-size: 10pt;
    padding: 10px;
    margin: 0;
}

div.content, pre, .hr {
    width: 600px;
}

h1 {
    margin: -10px -10px 10px -10px;
    padding: 10px;
    background-color: #6A1617;
    color: white;
}

pre {
    font-size: 8pt;
    border: 2px dashed #ADADB3;
    background-color: #F7F7F7;
    padding: 10px;
    width: 576px;
    overflow: auto;
}

input {
    padding: 2px;
    font-size: 9pt;
}

.hr {
    background-color: #595959;
    height: 3px;
}

#AutoCompleteFocus {
    position: absolute;
    font-size: 9pt;
    background-color: #f6f6f6;
    border: 1px dotted #c1c1c1;
    top: 80px;
    left: 800px;
    padding: 15px;
    width: 300px;
    height: 100px;
    overflow: auto;
}

/* Hack for ie6, the helper window will scroll with every browser but ie6 */
body > #AutoCompleteFocus {
    position: fixed;
}

#AutoCompleteFocus div {
    margin-bottom: 20px;
    width: auto;
}

#AutoCompleteFocus pre {
    display: none;
    width: auto;
    overflow: visible;
    border: none;
    background-color: none;
}
