html{
    margin: 0;
    padding: 0;
    height: 100%;
}
body{
    margin: 0;
    padding: 0;
    height: 100%;
    background: #FFFFFF;
}
body, td, th, input, select, textarea, option, optgroup{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    color: #000000;
}
input[type='text'],input[type='password']{
    /* padding: 2px; */
    /* margin-bottom: 20px; */
}
/*
select{
    padding: 1px;
}
*/
textarea{
    padding: 2px;
    margin-top: 20px;
}
a, a:visited{
    
    cursor: pointer;
}
form{
    margin: 0;
    padding: 0;
}

#header{
    height: 40px;
    padding-top: 3px;
    padding-right:30px;
    padding-left:30px;
    background-color:black;
    min-width: 900px;
}

#header .logo{
    color: #FFFFFF;
    font-size: 20px;
    float: left;
    line-height: 40px;
}
#header .div2{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    color: #FFFFFF;
    float: right;
}
#header .div2 span{
    font-weight: bold;
}
#menu{
    /*background: url('../image/menu.png') repeat-x;*/
    background-color:black;
    position: relative;
    z-index: 1;
    height: 34px;
    clear: both;
    /* padding: 0px 30px;*/ 
    min-width: 900px;
    width:965px;
    margin:auto;
}

#menu a:visited{
    color:white;
}

ul.left{
    float: left;
}
ul.right{
    float: right;
}
.nav{
    position: relative;
    margin: 0;
    padding: 0;
}
.nav ul{
    list-style: none;
    margin: 0;
    padding: 0;
    /* background: url('../image/transparent.png'); */
    background-color:black;
}
.nav a{
    display: block;
    color: #FFFFFF;
    text-decoration: none;
    padding: 5px;
}
.nav > li + li{
    /* background: url('../image/split.png') center left no-repeat; */
}
.nav .top, .nav li li.sfhover{
    padding: 7px 15px 7px 17px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    color: #FFFFFF;
    text-align: center;
}
.nav ul li{
    padding: 2px 2px 5px 2px;
}

.nav .selected .top{
    /* background: url('../image/selected.png') repeat-x; */
    background-color: peru;
    color: #FFFFFF;
}

.nav .selected:hover a.top, .nav .sfhover a.top{
}
.nav .parent{
    background: url('../image/arrow_right.png') 95% center no-repeat;
}
.nav li{
    float: left;
    list-style: none;
}
.nav li ul{
    position: absolute;
}
.nav li li{
    clear: both;
}
.nav li ul a{
    text-align: left;
    color: #FFFFFF;
    height: 15px;
    width: 145px;
}
.nav li ul ul{
    margin: -27px 0 0 157px;
}
.nav li li:hover, .nav li li.sfhover{
    background: #333;
    color: #000000;
}
#content{
    /* jh 201401
    background: #FFFFFF url('../image/background.png') 0px 1px repeat-x; 
      */
    padding: 10px;
    padding-top: 0;
    min-width: 900px;
    padding-bottom: 128px;
    margin:auto;
    text-align:center;
    
}
#container{
    height: 100%;
}
body > #container{
    height: auto;
    min-height: 100%;
}
#footer{
   /* background: #FFFFFF url('../image/footer.png') repeat-x; */
    border-top: 1px solid #cccccc;
    height: 100px;
    padding: 30px 50px;
    color: #808080;
    position: relative;
    margin-top: -100px;
    clear: both;

}
.copyright{
   text-align: left;
   display: inline-block;
   width: 100%;
   font-size: 10px;
}
#footer a{
    color: #333;
    text-decoration: underline;
}
.breadcrumb, .breadcrumb a{
    font-size: 12px;
    color: #666;
    margin-bottom: 15px;
    width: 934px;
    margin: auto;
}

.success{
    padding: 15px 0px;
    margin-bottom: 15px;
    background: #E4F1C9;
    border: 1px solid #A5BD71;
    font-size: 12px;
    text-align: center;
    width: 960px;
    margin: auto;
}

.warning{
    padding: 15px 0px;
    margin-bottom: 15px;
    background: #FFDFE0;
    border: 1px solid #FF9999;
    font-size: 12px;
    text-align: center;
}
.attention{
    padding: 15px 0px;
    margin-bottom: 15px;
    background: #FEFBCC;
    border: 1px solid #E6DB55;
    font-size: 12px;
    text-align: center;
}

.box{
    margin-bottom: 15px;
}

.box > .heading{
    height: 40px;
    background: url('../image/box_center.png') repeat-x;
    border-left: 1.0px solid #CCCCCC;
    border-right: 1.0px solid #CCCCCC;
    border-bottom: 1.0px solid #CCCCCC;

    margin-bottom: 0px;
    width:960px;
    margin:auto;

}

.box > .left{
    float: left;
    width: 7px;
    height: 40px;
    background: url('../image/box_left.png') no-repeat;
}
.box > .right{
    float: right;
    width: 7px;
    height: 40px;
    background: url('../image/box_right.png') no-repeat;
}

.box > .heading h1{
    background-position:  2px 9px;
    background-repeat: no-repeat;
    margin: 0px;
    padding: 20px 0px 11px 30px;
    color: #003A88;
    font-size: 16px;
    float: left;
    line-height:0px;
    margin-left: 5px;
}

.box > .heading .buttons{
    float: right;
    padding-top: 5px;
    padding-left: 20px;
    padding-right: 5px;
}

.box > .content{
    clear:both;
    border-left: 1px solid #CCCCCC;
    border-right: 1px solid #CCCCCC;
    border-bottom: 1px solid #CCCCCC;
    /* min-height: 300px; */
    width: 960px;
    margin: auto;
    text-align: center;
}

.button{
    padding-left: 7px;
    display: inline-block;
    margin-right: 5px;
    background: url('../image/button_left.png') top left no-repeat;
}
.button span{
    color: #FFF;
    display: block;
    padding: 2px 10px 5px 2px;
    background: url('../image/button_right.png') top right no-repeat;
}

.table thead td{
    background-color: #E7EFEF;
}
.table thead td a, .list thead td{
    text-decoration: none;
    color: #222222;
   /* font-weight: bold; */
}
.table .filter td{
    padding: 5px;
    background: #E7EFEF;
}

table td.right {
    text-align: right;
}

table td.center {
    text-align: center;
}

table td.left {
    text-align: left;
}

/*
.list{
    border-collapse: collapse;
    width: 100%;
    border-top: 1px solid #DDDDDD;
    border-left: 1px solid #DDDDDD;
    margin-bottom: 20px;
}
.list td{
    border-right: 1px solid #DDDDDD;
    border-bottom: 1px solid #DDDDDD;
}
.list thead td{
    background-color: #EFEFEF;
    padding: 0px 5px;
}
.list thead td a, .list thead td{
    text-decoration: none;
    color: #222222;
    font-weight: bold;
}

.list tbody a{
    text-decoration:none;
}
.list tbody td{
    vertical-align: middle;
    padding: 0px 5px;
}

.list tbody tr:odd{
    background: #FFFFFF;
}
.list tbody tr:even{
    background: #E4EEF7;
}

.list .left{
    text-align: left;
    padding: 7px;
}
.list .right{
    text-align: right;
    padding: 7px;
}
.center{
    text-align: center;
    padding: 7px;
}
.asc{
    padding-right: 15px;
    background: url('../image/asc.png') right center no-repeat;
}
.desc{
    padding-right: 15px;
    background: url('../image/desc.png') right center no-repeat;
}
.filter td{
    padding: 5px;
    background: #E7EFEF;
}
*/

td.center{
    text-align: center;
    padding: 7px;
}

.long_input{
    width:250px;
}

.short_input{
    width:40px;
}

.pagination{
    margin-top: 30px;
    border-top: 1px solid #EEEEEE;
    background: #F8F8F8;
    display: inline-block;
    width: 100%;
}
.pagination .links, .pagination .results{
    padding: 9px;
}
.pagination .links{
    float: left;
}
.pagination .links a{
    border: 1px solid #CCCCCC;
    padding: 4px 7px;
    text-decoration: none;
    color: #000000;
}
.pagination .links b{
    border: 1px solid #CCCCCC;
    padding: 4px 7px;
    text-decoration: none;
    color: #000000;
    background: #FFFFFF;
}
.pagination .results{
    float: right;
}
.form{
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 0px;
}
table.form tr td:first-child{
    width: 200px;
}
/* cutemom changed even td align */
table.form td:nth-child(even){
  text-align: left;
}

.form > * > * > td{
    padding: 10px;
    color: #000000;
    border-bottom: 1px dotted #CCCCCC;
}

.help{
    color: #999;
    font-size: 10px;
    font-weight: normal;
    font-family: Verdana, Geneva, sans-serif;
    display: block;
}
.required{
    color: #FF0000;
    font-weight: bold;
}
.error{
    color: #FF0000;
    padding-top: 3px;
    display: block;
    font-size: 12px;
    font-weight: normal;
}
.scrollbox{
    border: 1px solid #CCCCCC;
    width: 420px;
    height: 210px;
    background: #FFFFFF;
    overflow-y: scroll;
    text-align: left;
    padding-left: 3px;
}
.htabs{
    padding: 0px 0px 0px 10px;
    height: 30px;
    border-bottom: 1px solid #DDDDDD;
    margin-bottom: 15px;
}
.htabs a{
    border-top: 1px solid #DDDDDD;
    border-left: 1px solid #DDDDDD;
    border-right: 1px solid #DDDDDD;
    background: #FFFFFF url('../image/tab.png') repeat-x;
    padding: 6px 15px 4px 15px;
    float: left;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    color: #000000;
    margin-right: 2px;
}
.htabs a.selected{
    /* padding-bottom: 8px; */
    background: #FFFFFF;
}
.vtabs{
    width: 180px;
    padding: 10px 0px;
    min-height: 300px;
    float: left;
    display: block;
    border-right: 1px solid #DDDDDD;
}
.vtabs a{
    display: block;
    float: left;
    width: 150px;
    margin-bottom: 5px;
    clear: both;
    border-top: 1px solid #DDDDDD;
    border-left: 1px solid #DDDDDD;
    border-bottom: 1px solid #DDDDDD;
    background: #F7F7F7;
    padding: 6px 14px 7px 15px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
    font-weight: bold;
    text-align: right;
    text-decoration: none;
    color: #000000;
}
.vtabs a.selected{
    padding-right: 15px;
    background: #FFFFFF;
}
.vtabs_page{
    margin-left: 195px;
}
.scrollbox div{
    padding: 3px;
}
.scrollbox div input{
    margin: 0px;
    padding: 0px;
    margin-right: 3px;
}
.scrollbox div.even{
    background: #FFFFFF;
}
.scrollbox div.odd{
    background: #E4EEF7;
}
.add{
    -moz-background-clip:border;
    -moz-background-inline-policy:continuous;
    -moz-background-origin:padding;
    background:transparent url(../image/add.png) no-repeat scroll right center;
    color:#000000;
    display:inline-block;
    padding-right:20px;
    cursor: pointer;
}
.remove{
    -moz-background-clip:border;
    -moz-background-inline-policy:continuous;
    -moz-background-origin:padding;
    background:transparent url(../image/delete.png) no-repeat scroll right center;
    color:#000000;
    display:inline-block;
    padding-right:20px;
    cursor: pointer;
}
