<script>
$(function() {
    
    var html;

    html = 'At First, you should choose "Account".<br/>It work as Auto complete as like google search.<br/> Type the account name or accout number that you remember.';
    $.fn.tooltip( '#account-name' , html);

    html = 'Type Product name or model';
    $.fn.tooltip( '#product-atc' , html);
});
</script>