@media print {
  body, td, th, input, select, textarea, option, optgroup {
    font-size: 14px;
    }
  #header,#menu,#footer{
    display:none;
    }
  #content .left,.right{
    display:none;
    }
  #content .heading div.buttons{
    display:none;
    }
    /***
  #base span{
    display:none;
    }
  ***/
  img#preview{
    display:none;
    }
  #base div {
    padding-bottom:0px;
    }
  .del,.plus{
    display:none;
    }
  .np{
    display:none;
    }
  input.model_show{
    width:50px;
    }
}
/***
print page margin rule
 ***/
/***
@page{
  margin:0.5in;  size:a4;  page-break-after:always;
}
***/
#order-container {
    clear:left;
}

#order-container table{
  margin:5px;
}

#order-container .plus,.del{
  cursor:pointer;
  width:18px;
  height:18px;
  text-align:center;
  background: url('') no-repeat;
    /* background: url('view/image/del_icn.jpg') no-repeat; */
}
#order-container td.nostyle{
  background-color:white;
  border:0px hidden white;
}

/***
#base {
  width:900px;
  margin:auto;
}
#base .half{
  float:left;
  position:relative;
  margin-right:15px;
    /*** margin-top:10px; ***/
  width:46%;
}
#base #store{
  width:480px;
}
#ship{
  width:400px;
}

table .label{
    width:60px;
    text-align:center;
    padding-top:8px;
}
***/

/***
table .context{
    width:350px;
}
***/
#modal {
    position:absolute;
    top:100px;
    left:200px;
    display:block;
    border:1px dotted green;
    z-index:2;
}
#ship table .label{
  width:100px;
  text-align:center
}
#ship table .context{
  width:350px;
}
#return table .label{
  width:100px;
  text-align:center
}
#return table .context{
  width:350px;
}
#order,#payment{
  clear:both;
  position:relative;
}
#payment{
    width:900px;
    margin:20px auto;
    }
#payment table{
  border:2px dotted peru;
}

.insert{
  background-color: gray;
}
#preview{
    /* float:right; */
}
#preview img{
  border:0px;
}
#brief {
  padding-bottom : 0px;
}
#brief li{
  list-style:none;
  font-size:20px;
}
#storeinfo{
  padding-bottom:10px;
}
#footer{
  display:none;
}