<?php
    $mail = new Mail();
    $mail->protocol = $this->config->get('config_mail_protocol');
    $mail->hostname = $this->config->get('config_smtp_host');
    $mail->username = $this->config->get('config_smtp_username');
    $mail->password = $this->config->get('config_smtp_password');
    $mail->port = $this->config->get('config_smtp_port');
    $mail->timeout = $this->config->get('config_smtp_timeout');
  
    // temporary
    $login = $this->user->getUserName();
  
  foreach($store as $rep => $aStore){
        $html = '';
        if ( $rep == $login ){
        $receiver = $this->user->getEmail($rep);
        //$this->log->aPrint( $receiver );
  
        foreach($aStore as $id => $row){
        $name   = $row['name'];
        $phone1 = $row['phone1'];
        $lnk    = $row['lnk'];
        $last   = substr($row['last']['order_date'],0,10);
        $html .= "$id : <a href='$lnk' target='new'>$name</a> : $phone1 <br/>";
        $html .= "  ====> <b>Last Order : $last </b><br/><br/>";
    }
        $tday = date("Y-m-d");
        $subject = "$rep : Account to call : $tday";
        $mail->setTo($receiver['email']);
        $mail->setFrom($this->config->get('config_email'));
        $mail->setSender('besso@live.com');
        $mail->setSubject($subject);
        //$mail->setText(html_entity_decode($body, ENT_QUOTES, 'UTF-8'));
        $mail->setHtml($html);
        $this->log->aPrint( $html );
        //$mail->send();
    }
    }
?>
