<script type="text/javascript" src="view/javascript/jquery/jquery-1.7.1.min.js"></script>
<script src="http://maps.google.com/maps/api/js?sensor=false&libraries=geometry"></script>
<?php
        //$this->log->aPrint( $store );
foreach($store as $s){
    $id        = $s['id'];
    $accountno = $s['accountno'];
    $name      = $s['name'];
    $address1  = $s['address1'];
    $address2  = $s['address2'];
    $city      = $s['city'];
    $state     = $s['state'];
    $zipcode   = $s['zipcode'];
    $lat       = $s['lat'];
    $lng       = $s['lng'];
    $addr = $address1 . ' ' . $city . ' ' . $state . ' ' . $zipcode;
?>
<div>
    <input type=text name='accountno' value='<?php echo $accountno; ?>' style='width:100px;' />
    <input type=text name='addr' value='<?php echo $addr; ?>' style='width:500px;' />
    <input type=text name='lat' value='' style='width:100px;'  />
    <input type=text name='lng' value='' style='width:100px;'  />
    <input type=button value='set' />
</div>
<?php
}
?>

<script type="text/javascript">
    $('input[type=button]').click(function(e){
      $tgt = $(e.target);
      $pnt = $tgt.parents('div');
      var geocoder = new google.maps.Geocoder();
    var address = $pnt.find('input[name=addr]').val();
    var accountno = $pnt.find('input[name=accountno]').val();
    //console.log( accountno );
      if (geocoder){
        geocoder.geocode({ 'address': address }, function (results, status) {
        if (status == google.maps.GeocoderStatus.OK) {
              var $center = results[0].geometry.location;
                    $lat = $center.lat(),
                    $lng = $center.lng();
        $pnt.find('input[name=lat]').val($lat);
        $pnt.find('input[name=lng]').val($lng);
          
            if ( $lat != '' ){
            $.ajax({
              type:'get',dataType:'json',
              url:'/store/btrip/mapStore',
              data:'account=' + accountno + '&lat=' + $lat + '&lng=' + $lng,
              success:function(data){
            }
            });
            }

        } else {
                  alert("Geocoding failed: " + status);
    }
        });
    }
    });

    // setTimeout in .each    
    $i = 1;
    var timer = new Array();
    $('input[type=button]').each(function(idx){
      $i++;
        setTimeout(jQuery.proxy(function(idx){
        $(this).click();
    },this),$i*5000);
    });

</script>
